.modal-carousel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  padding: 40px 20px;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.3s;
  &.active {
    border-left: 1px solid #ddd;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    transform: translateX(0);
  }
  .button-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #000;
    color: #fff;
  }
  .viewport {
    width: 500px;
  }
}